<div class="index">
<%= link_to("<<Back to subjects",{:controller => 'subjects', :action => 'index'}, :class => 'back_link') %>
	<span class="h1">Pages</span>

	<%= link_to("Add new pages", {:action => 'new', :subject_id => @subject.id}, :class => 'actions') %>
	<table class="listing" summary="Pages list">
		<tr class="headers">
			<th>&nbsp;</th>
			<th>Subject</th>
			<th>Page</th>
			<th>Permalink</th>
			<th>Visible</th>
			<th>Sections</th>
			<th>Actions</th>
		</tr>

		<% @pages.each do |page| %>
			<tr class="<%= cycle('odd','even') %>">
				<td><%= page.position %></td>
				<td><%= page.subject.name if page.subject %></td>
				<td><%= page.name %></td>
				<td><%= page.permalink %></td>
				<td class="center"><%= status_tag(page.visible) %></td>
				<td class="center"><%= page.sections.size %></td>
				<td class="action">
					<%= link_to("View sections", { :controller => 'sections', :action => 'index', :page_id => page.id }, :class_name => 'action show') %>
					<%= link_to("Show", { :action => 'show', :id => page.id, :subject_id => @subject.id }, :class_name => 'action show') %>
					<%= link_to("Edit", { :action => 'edit', :id => page.id, :subject_id => @subject.id }, :class_name => 'action edit') %>
					<%= link_to("Delete", { :action => 'delete', :id => page.id, :subject_id => @subject.id }, :class_name => 'action delete') %>
				</td>
			</tr>
		<% end %>
	</table>
</div>